<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgDnalhrq7mFX6ra4DoawAYIxDBejB2eM</string>
	<key>GCM_SENDER_ID</key>
	<string>996598872036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.danceApp</string>
	<key>PROJECT_ID</key>
	<string>dance-b3133</string>
	<key>STORAGE_BUCKET</key>
	<string>dance-b3133.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996598872036:ios:09f9dca9708d5d03ac39f1</string>
</dict>
</plist>